

  

    <h1>Estate Description</h1>
    <div data-estate-lat="<%= estate.lat %>" data-estate-lng="<%= estate.lng %>" id="estateId" style="display: flex"  >
      <h3 style="width: 70%">
        <%= estate %>
      </h3>
      <div>
        <div
          style="width: 400px; height: 400px; border-radius: 12px"
          id="map"
        ></div>
      </div>
    </div>
    <h2>BOOK THE FLAT</h2>
    <% if(typeof currentUser !== 'undefined') { %>
      <form method="POST" action="/booking/estate/<%= estate._id %>">
        <input name="_estate" type="hidden" value="<%= estate.id %>">
        <input name="_user" type="hidden" value="<%= currentUser.id %>">
        <input type="date" name="start_date" id="start_date">
        <input type="date" name="end_date" id="end_date">
        <button>Send</button>
      </form>
    <% } else { %>
      <!-- Please coonect to book -->
      <h3>Please coonect to book</h3>
    <% } %>

    <script src="/map.js"></script>
  
</html>
