<% title= !estate ? 'Add Estate' : 'Edit Estate' %>

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <title><%= title %></title>
    <style>
      #geocoder {
        z-index: 1;
        margin: 20px;
      }
      .mapboxgl-ctrl-geocoder {
        min-width: 50%;
      }
    </style>
  </head>

  <body>
    <% if (!estate) { %>
    <h1>Add estate ejs</h1>
    <form id="form" enctype="multipart/form-data">
      <input name="name" type="text" id="name" placeholder="name" />
      <input name="price" type="number" id="price" placeholder="price" />
      <div id="geocoder"></div>
      <input name="photos" type="file" id="photos" multiple="multiple">
      <button>Send</button>
    <pre id="result"></pre>
    <%} else { %>
    <h1> Edit estate ejs</h1>
    <form method="POST" action="/admin/update-estate/<%= estate._id %>" enctype="multipart/form-data">
        <input name="name" type="text"  placeholder="name" value="<%= estate.name %>">
        <input name="price" type="number" value="<%= estate.price %>" placeholder="price">
        <input name="address" type="text" value="<%= estate.address %>" placeholder="address">
        <input name="zipCode" type="text" value="<%= estate.zipCode %>" placeholder="zipCode">
        <input name="country" type="text" value="<%= estate.country %>" placeholder="country">
        <input name="photos" type="file" multiple="multiple">
        <button>Send</button>
    </form>
    <% } %>
    <script src="/autocomplete.js"></script>
    <script>
      const form = document.getElementById("form");
      if (form) {
        form.addEventListener("submit", async (e) => {
          e.preventDefault();

          const name = document.getElementById("name").value;
          const price = document.getElementById("price").value;
          const fullAddress = document.querySelector(
            ".mapboxgl-ctrl-geocoder--input"
          ).value;
          const photos = document.getElementById("photos");
          const files = Array.from(photos.files);
          const allPhotos = files.map((photo) => {
            return 'upload/' + photo.name
          })

          const obj = JSON.stringify({
            name,
            price,
            fullAddress,
            allPhotos
          });

          await fetch("http://localhost:3000/admin/add-estate", {
            method: "POST",
            body: obj,
            headers: {
              "Content-type": "application/json; charset=UTF-8",
            },
          });
          window.location.replace("http://localhost:3000/");
        });
      }
    </script>
  </body>
</html>
