<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= !estate ? 'Add Estate' : 'Edit Estate' %></title>
</head>


<body>
    <% if (!estate) { %>
    <h1> Add estate ejs</h1>
    <form method="POST" action="/admin/add-estate">
        <input name="name" type="text" placeholder="name">
        <input name="price" type="number" placeholder="price">
        <input name="address" type="text" placeholder="address">
        <input name="zipCode" type="text" placeholder="zipCode">
        <input name="country" type="text" placeholder="country">
        <button>Send</button>
    </form>
    <%} else { %>
    <h1> Edit estate ejs</h1>
    <form method="POST" action="/admin/update-estate/<%= estate._id %>">
        <input name="name" type="text"  placeholder="name" value="<%= estate.name %>">
        <input name="price" type="number" value="<%= estate.price %>" placeholder="price">
        <input name="address" type="text" value="<%= estate.address %>" placeholder="address">
        <input name="zipCode" type="text" value="<%= estate.zipCode %>" placeholder="zipCode">
        <input name="country" type="text" value="<%= estate.country %>" placeholder="country">
        <button>Send</button>
    </form>
    <% } %>
</body>

</html>
