<% title="Homepage" %>
<%- include('./partials/head', {title}); %>

  <body>
    <nav>
      <a href="/admin/add-estate">Ajouter établissement</a>
      <a href="/user/register">Créer un compte utilisateur</a>
      <a href="/user/login">Se connecter</a>
      <a href="/user/logout">Se deconnecter</a>
      <% if(typeof user !== 'undefined') { %>
        <a href="/user/profile">mon profile</a>
      <% } %>
    </nav>
    <h1>Bienvenue dans votre site de réservation</h1>
    <% if(typeof user !== 'undefined') { %>
      <h1><%= user.firstName %></h1>
      <% const isAdmin = user.role === 'admin' %>
    <% } %>
    <h3>
      <% if (estates.length >0) { %>
        <%for (let estate of estates){ %>
          <div>
            <h5><%= estate %></h5>
            <div style="display: flex; flex-direction: row; justify-content: center">
              <% if(typeof user !== 'undefined' && user.role === 'admin') { %>
                <a href="/admin/edit-estate/<%= estate._id %>"><button>Modifier</button></a>
                <a href="/admin/delete-estate/<%= estate._id %>"><button>Supprimer</button></a>
              <% } %>
            </div>
          </div>
        <%}%>
      <%} else { %>
        <p>Not Allowed</p>
      <% } %>
    </h3>
  </body>
</html>
