

  <!-- <nav>
    <a class="text-link" href="/admin/add-estate">Ajouter établissement</a>
    <a class="text-link" href="/user/register">Créer un compte utilisateur</a>
  </nav> -->
  <h1 class="mb-10">Bienvenue dans votre site de réservation <% typeof currentUser !== 'undefined'  ? currentUser.firstName : '' %></h1>
      <% if (typeof currentUser !== 'undefined') {const isAdmin = currentUser.role === 'admin'} %>
  <h3>
    <% if (estates.length > 0 && typeof currentUser === 'undefined') { %>
      <div class="flex mt-10">
        <ul class="text-xl mr-12">
          <%for (let estate of estates){ %>
            <a href="<%= `/estate/${estate.id}` %>" class="p2 mt-8 block hover:bg-gray-100 hover:text-indigo-500">
            <li class="flex items-center">
              <div class="pa-2 my-2">
                <h2 class="text-3xl flex items-center"><%= estate.name %></h2>
                <div class="font-bold my-1 text-indigo-600"><%= estate.price %> €</div>
                <div><%= estate.address %></div>
              </div>
              
              <% if ((typeof estate.photos !== 'undefined') && estate.photos.length > 1) { %>
                <img class="img-estate ml-11" src="<%= estate.photos[0] %>" alt="photo estate">
                <span class="text-xs rounded-full bg-indigo-100 text-indigo-600 p-2 flex items-center ml-11">
                  <span class="text-2xl mr-1"><%= estate.photos.length %></span> 
                    photos dispo
                </span>
              <% } else if( (typeof estate.photos !== 'undefined') && estate.photos.length === 1) { %>
                <img class="img-estate ml-11" src="<%= estate.photos[0] %>" alt="photo estate">
              <% } else { %>
                <span class="flex items-center px-2 text-gray-500 ml-11">Aucune photo actuellement</span>
                <% } %>
              
              <!-- <div style="display: flex; flex-direction: row; justify-content: center">
                <a href="/admin/edit-estate/<%= estate._id %>" class="mx-1"><button class="btn-indigo">Modifier</button></a>
                <a href="/admin/delete-estate/<%= estate._id %>" class="mx-1"><button class="btn-red">Supprimer</button></a>
              </div> -->
              
            </li>
            </a>
            <hr class="hr-indigo">
          <%}%>
        </ul>
        
        <!-- map -->
        <div class="flex items-center ml-12">
          <div
            style="width: 550px; height: 550px; border-radius: 12px"
            id="map">
          </div>
        </div>
        
      </div>
      </div>
    <% } %>
  </h3>

  
  <!-- TEST TABLE -->
  
  <% if (estates.length > 0 && typeof currentUser !== 'undefined') { %>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="th-title">
                  Libelléth-title
                </th>
                <th scope="col" class="th-title">
                  Adresse
                </th>
                <th scope="col" class="th-title">
                  Prix
                </th>
                <th scope="col" class="th-title">
                  Pays
                </th>
                <th scope="col" class="th-title">
                  Photos
                </th>
                <th scope="col" class="relative px-6 py-3">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% if (estates.length >0) { %>
                <%for (let estate of estates){ %>
                  <tr class="hover:bg-gray-100">
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="ml-4">
                          <div class="capitalize text-lg font-bold">
                            <a href="<%= `/estate/${estate.id}` %>" class="text-link">
                              <%= estate.name %>
                            </a>
                          </div>
                        </div>
                        </div>
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-lg text-gray-900"><%= estate.address %></div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-lg text-gray-900"><%= estate.price %></div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-lg text-gray-900"><%= estate.country %></div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                      <% if ((typeof estate.photos !== 'undefined') && estate.photos.length > 1) { %>
                        <img class="img-estate mx-auto" src="<%= estate.photos[0] %>" alt="photo estate">
                        <span class="text-xs rounded-full bg-indigo-100 text-indigo-600 p-3">
                          <span class="text-2xl mr-1"><%= estate.photos.length %></span> 
                            photos
                        </span>
                      <% } else if( (typeof estate.photos !== 'undefined') && estate.photos.length === 1) { %>
                        <img class="img-estate mx-auto" src="<%= estate.photos[0] %>" alt="photo estate">
                      <% } else { %>
                        <span class="flex items-center px-2 text-gray-500">Aucune photo actuellement</span>
                      <% } %>
                      <!-- <img class="img-estate" src="<%= estates[estates.length -1].photos[0] %>" alt="photo estate"> <pre><% estates %></pre> -->
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                      <a href="/admin/edit-estate/<%= estate._id %>">
                        <button class="btn-indigo">Modifier</button>
                      </a>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                      <a href="/admin/delete-estate/<%= estate._id %>">
                        <button class="btn-red">Supprimer</button>
                      </a>
                    </td>
                    
                  </tr>
                <%}%>
              <%} else { %>
                <p>Aucun établissement enregistré</p>
              <% } %>

              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- map -->
    <div class="flex items-center justify-center my-5">
      <div
        style="width: 550px; height: 550px; border-radius: 12px"
        id="map">
      </div>
    </div>

  </div>

  

<%} else { %>
    <p>Pas d'établissement</p>
<% } %>
<!-- TEST -->






    

  <!-- <script src="/map.js"></script> -->

